<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=MOD-09-72071\SQL_UAI;Initial Catalog=farmacia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>